@model Menu.Models.Dish
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="d-flex justify-content-center">
        <h3>@Model.Name</h3>
    </div>
    <div class="d-flex justify-content-center">
        <img src="@Model.ImageUrl" style="width: 50%" />
    </div>
    <div class="d-flex justify-content-center">
        @Model.Price.ToString("N2") Dollars
    </div>
    <div class="d-flex justify-content-center">
        Ingredients:
        <ul>
            @if (Model.DishIngredients != null) // Check if Model.DishIngredients is not null
            {
                @foreach(var item in Model.DishIngredients)
                {
                    <li>
                        @if (item.Ingredient != null && item.Ingredient.Name != null) // Check if Ingredient and Ingredient.Name are not null
                        {
                            @item.Ingredient.Name
                        }
                        else
                        {
                            <text>Unknown Ingredient</text>
                        }
                    </li>
                }
            }
            else
            {
                <li>No Ingredients available</li>
            }
        </ul>
    </div>
    <a class="btn btn-info" asp-action="Index">Back to the Menu</a>
</div>
